<a href="https://colab.research.google.com/github/dgierejkiewicz/data-science/blob/master/dane_gieldowe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

print(f'Numpy: {np.__version__}')
print(f'Pandas: {pd.__version__}')

Numpy: 1.18.5
Pandas: 1.0.5

In [10]:
def fetch_stock_data(company='AMZN'):
  """Pobranie danych dotyczących notowań spółek na giełdzie wg symboli
  w serwisie stooq.pl""" 
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')
df = fetch_stock_data()
df.info

<bound method DataFrame.info of                Open       High      Low    Close   Volume
Date
2020-08-03  3180.51  3184.0000  3104.00  3111.89  5074663
2020-07-31  3244.00  3246.8200  3151.00  3164.68  8083369
2020-07-30  3014.00  3092.0000  3005.00  3051.88  6128265
2020-07-29  3030.99  3039.1592  2996.77  3033.53  2974060
2020-07-28  3054.27  3077.0926  2995.76  3000.33  3126651
...             ...        ...      ...      ...      ...
2015-08-12   523.75   527.5000   513.06   525.91  4014600
2015-08-11   523.65   528.9800   522.00   527.46  2676051
2015-08-10   528.52   532.2800   523.00   524.00  2615900
2015-08-07   529.16   529.4600   518.21   522.62  3969200
2015-08-06   539.30   542.7400   527.52   529.46  3817004

[1257 rows x 5 columns]>

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2020-08-03 to 2015-08-06
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 58.9 KB

In [12]:
df

               Open       High      Low    Close   Volume
Date
2020-08-03  3180.51  3184.0000  3104.00  3111.89  5074663
2020-07-31  3244.00  3246.8200  3151.00  3164.68  8083369
2020-07-30  3014.00  3092.0000  3005.00  3051.88  6128265
2020-07-29  3030.99  3039.1592  2996.77  3033.53  2974060
2020-07-28  3054.27  3077.0926  2995.76  3000.33  3126651
...             ...        ...      ...      ...      ...
2015-08-12   523.75   527.5000   513.06   525.91  4014600
2015-08-11   523.65   528.9800   522.00   527.46  2676051
2015-08-10   528.52   532.2800   523.00   524.00  2615900
2015-08-07   529.16   529.4600   518.21   522.62  3969200
2015-08-06   539.30   542.7400   527.52   529.46  3817004

[1257 rows x 5 columns]

In [15]:
df.head(10)

                 Open       High      Low    Close   Volume
Date
2020-08-03  3180.5100  3184.0000  3104.00  3111.89  5074663
2020-07-31  3244.0000  3246.8200  3151.00  3164.68  8083369
2020-07-30  3014.0000  3092.0000  3005.00  3051.88  6128265
2020-07-29  3030.9900  3039.1592  2996.77  3033.53  2974060
2020-07-28  3054.2700  3077.0926  2995.76  3000.33  3126651
2020-07-27  3062.0000  3098.0000  3015.77  3055.21  4170492
2020-07-24  2930.0000  3031.5800  2888.00  3008.91  5632413
2020-07-23  3098.2713  3098.2713  2970.00  2986.55  5656906
2020-07-22  3125.0000  3149.9999  3065.26  3099.91  4104225
2020-07-21  3232.4900  3240.5758  3105.72  3138.29  6134965

In [17]:
df.tail(10)

              Open    High     Low   Close   Volume
Date
2015-08-19  533.74  537.25  529.00  532.92  2324000
2015-08-18  535.04  539.49  533.00  535.02  2071300
2015-08-17  531.29  538.74  527.12  535.22  2581600
2015-08-14  528.25  534.11  528.25  531.52  1994700
2015-08-13  527.37  534.66  525.48  529.66  2895200
2015-08-12  523.75  527.50  513.06  525.91  4014600
2015-08-11  523.65  528.98  522.00  527.46  2676051
2015-08-10  528.52  532.28  523.00  524.00  2615900
2015-08-07  529.16  529.46  518.21  522.62  3969200
2015-08-06  539.30  542.74  527.52  529.46  3817004

In [18]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [21]:
df.columns = [col.lower() for col in df.columns]
df.head()

               open       high      low    close   volume
Date
2020-08-03  3180.51  3184.0000  3104.00  3111.89  5074663
2020-07-31  3244.00  3246.8200  3151.00  3164.68  8083369
2020-07-30  3014.00  3092.0000  3005.00  3051.88  6128265
2020-07-29  3030.99  3039.1592  2996.77  3033.53  2974060
2020-07-28  3054.27  3077.0926  2995.76  3000.33  3126651

In [22]:
df.describe()

              open         high          low        close        volume
count  1257.000000  1257.000000  1257.000000  1257.000000  1.257000e+03
mean   1340.735492  1354.384158  1325.414556  1340.739018  4.267480e+06
std     601.198163   609.278171   592.430982   601.243095  2.153530e+06
min     463.580000   489.440000   451.000000   463.370000  8.813370e+05
25%     776.000000   781.000000   769.120000   774.340000  2.808040e+06
50%    1374.820000  1415.390000  1352.880000  1387.330000  3.703692e+06
75%    1801.000000  1816.820000  1783.480000  1800.620000  5.114403e+06
max    3251.060000  3344.290000  3151.000000  3200.000000  1.655260e+07

In [23]:
df.describe().T

         count          mean           std  ...         50%         75%          max
open    1257.0  1.340735e+03  6.011982e+02  ...     1374.82     1801.00      3251.06
high    1257.0  1.354384e+03  6.092782e+02  ...     1415.39     1816.82      3344.29
low     1257.0  1.325415e+03  5.924310e+02  ...     1352.88     1783.48      3151.00
close   1257.0  1.340739e+03  6.012431e+02  ...     1387.33     1800.62      3200.00
volume  1257.0  4.267480e+06  2.153530e+06  ...  3703692.00  5114403.00  16552598.00

[5 rows x 8 columns]

In [24]:
df = df.head(10)

In [25]:
df

                 open       high      low    close   volume
Date
2020-08-03  3180.5100  3184.0000  3104.00  3111.89  5074663
2020-07-31  3244.0000  3246.8200  3151.00  3164.68  8083369
2020-07-30  3014.0000  3092.0000  3005.00  3051.88  6128265
2020-07-29  3030.9900  3039.1592  2996.77  3033.53  2974060
2020-07-28  3054.2700  3077.0926  2995.76  3000.33  3126651
2020-07-27  3062.0000  3098.0000  3015.77  3055.21  4170492
2020-07-24  2930.0000  3031.5800  2888.00  3008.91  5632413
2020-07-23  3098.2713  3098.2713  2970.00  2986.55  5656906
2020-07-22  3125.0000  3149.9999  3065.26  3099.91  4104225
2020-07-21  3232.4900  3240.5758  3105.72  3138.29  6134965

In [26]:
df['open']

Date
2020-08-03    3180.5100
2020-07-31    3244.0000
2020-07-30    3014.0000
2020-07-29    3030.9900
2020-07-28    3054.2700
2020-07-27    3062.0000
2020-07-24    2930.0000
2020-07-23    3098.2713
2020-07-22    3125.0000
2020-07-21    3232.4900
Name: open, dtype: float64

In [27]:
df.open

Date
2020-08-03    3180.5100
2020-07-31    3244.0000
2020-07-30    3014.0000
2020-07-29    3030.9900
2020-07-28    3054.2700
2020-07-27    3062.0000
2020-07-24    2930.0000
2020-07-23    3098.2713
2020-07-22    3125.0000
2020-07-21    3232.4900
Name: open, dtype: float64

In [28]:
df[['open']]

                 open
Date
2020-08-03  3180.5100
2020-07-31  3244.0000
2020-07-30  3014.0000
2020-07-29  3030.9900
2020-07-28  3054.2700
2020-07-27  3062.0000
2020-07-24  2930.0000
2020-07-23  3098.2713
2020-07-22  3125.0000
2020-07-21  3232.4900

In [29]:
df.iloc[:, 0]

Date
2020-08-03    3180.5100
2020-07-31    3244.0000
2020-07-30    3014.0000
2020-07-29    3030.9900
2020-07-28    3054.2700
2020-07-27    3062.0000
2020-07-24    2930.0000
2020-07-23    3098.2713
2020-07-22    3125.0000
2020-07-21    3232.4900
Name: open, dtype: float64

In [31]:
df.iloc[:, [0, 3]]

                 open    close
Date
2020-08-03  3180.5100  3111.89
2020-07-31  3244.0000  3164.68
2020-07-30  3014.0000  3051.88
2020-07-29  3030.9900  3033.53
2020-07-28  3054.2700  3000.33
2020-07-27  3062.0000  3055.21
2020-07-24  2930.0000  3008.91
2020-07-23  3098.2713  2986.55
2020-07-22  3125.0000  3099.91
2020-07-21  3232.4900  3138.29