<a href="https://colab.research.google.com/github/dgierejkiewicz/data-science/blob/master/pandas_tworzenie_obiektow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
pd.__version__

'1.0.5'

In [2]:
s = pd.Series(data=[3, 2, 4, 6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [12]:
s = pd.Series(data=[3, 2, 4, 6], index=['a', 'b', 'c', 'd'])
s

a    3
b    2
c    4
d    6
dtype: int64

In [13]:
s.is_monotonic_increasing

False

In [14]:
s.is_monotonic_decreasing

False

In [16]:
s = pd.Series(data=[1, 3, 5, 7, 9], name='sample')
s

0    1
1    3
2    5
3    7
4    9
Name: sample, dtype: int64

In [17]:
s.is_monotonic_decreasing

False

In [18]:
s.is_monotonic_increasing

True

In [3]:
import numpy as np
np.__version__

'1.18.5'

In [21]:
s = pd.Series(data=[1, np.nan, 5, 7, 9], name='sample')
s

0    1.0
1    NaN
2    5.0
3    7.0
4    9.0
Name: sample, dtype: float64

In [22]:
s.is_monotonic_increasing

False

In [24]:
s = pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [30]:
s = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [31]:
s.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [32]:
s.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [33]:
s.dtypes

dtype('int64')

In [34]:
s.shape

(10,)

In [27]:
s = pd.Series(data=['go', 'python', 'java'], name='langs')
s

0        go
1    python
2      java
Name: langs, dtype: object

In [28]:
type(s)

pandas.core.series.Series

In [29]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [4]:
price = pd.Series(data={'Apple':200, 'Microsoft': 160, 'Amazon': 1900, 'Oracle': np.nan})
price

Apple         200.0
Microsoft     160.0
Amazon       1900.0
Oracle          NaN
dtype: float64

In [4]:
price['Microsoft']

160

In [5]:
price[1]

160

In [16]:
price.count()

3

In [22]:
price.value_counts(dropna=False)

NaN       1
1900.0    1
160.0     1
200.0     1
dtype: int64

In [18]:
price.max()

1900.0

In [19]:
price.min()

160.0

In [20]:
price.median()

200.0

In [21]:
price.std()

993.2438438436621

In [15]:
price.describe()

count       3.000000
mean      753.333333
std       993.243844
min       160.000000
25%       180.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [24]:
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [25]:
price.nsmallest(2)

Microsoft    160.0
Apple        200.0
dtype: float64

In [26]:
price.rank()

Apple        2.0
Microsoft    1.0
Amazon       3.0
Oracle       NaN
dtype: float64

In [27]:
price.sort_values()

Microsoft     160.0
Apple         200.0
Amazon       1900.0
Oracle          NaN
dtype: float64

In [28]:
price.sort_values(ascending=False)

Amazon       1900.0
Apple         200.0
Microsoft     160.0
Oracle          NaN
dtype: float64

In [7]:
price_pln = price.apply(lambda x: x * 3.8)
price_pln

Apple         760.0
Microsoft     608.0
Amazon       7220.0
Oracle          NaN
dtype: float64

In [9]:
df = pd.DataFrame(data=[12, 12, 32])
df

    0
0  12
1  12
2  32

In [11]:
df = pd.DataFrame(data=[12, 12, 32], index=['first', 'second', 'third'], columns=['col1'])
df

        col1
first     12
second    12
third     32

In [12]:
df = pd.DataFrame(data={'WIG20': ['PKN ORLEN', 'PKO BP'], 
                        'mWIG40': ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [13]:
df.columns

Index(['WIG20', 'mWIG40'], dtype='object')

In [14]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [15]:
df.values

array([['PKN ORLEN', 'Amica'],
       ['PKO BP', 'Playway']], dtype=object)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   WIG20   2 non-null      object
 1   mWIG40  2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes

In [18]:
df.describe()

         WIG20 mWIG40
count        2      2
unique       2      2
top     PKO BP  Amica
freq         1      1

In [19]:
df.describe().T

       count unique     top freq
WIG20      2      2  PKO BP    1
mWIG40     2      2   Amica    1

In [21]:
type(df['WIG20'])

pandas.core.series.Series

In [22]:
df[['WIG20']]

       WIG20
0  PKN ORLEN
1     PKO BP